    /* FileManagement.css

Description: Temporary CSS file for angular templating 

Team 1 Group D 

Created by: Derek Ho, 2014-07-05

Programmers: Derek Ho

Changes: 

Known bugs: 
None
*/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.upload-btn {
    float: right;
    margin-top: 12px;
}