<!--
file-management-tmpl.html

Description: Templating with AngularJS to display the files, allow uploads and deletion

Team 1 Group D

Created by: Derek Ho, 2014-07-05

Programmers: Derek Ho

Changes:
2014-07-18  Added bootstrap CSS to make thngs look nice
2014-07-19  Changed layout for integration

Known bugs:
None
-->

<div class="file-management col-md-12">
  <div class="page-header">
    <h2>
      Files Management
      <small ng-bind="course.name"></small>
    </h2>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">File Upload</h3>
    </div>
    <div class="panel-body">
      <form
        name="upload-form"
        autocomplete="on"
        ng-submit="uploadFile(file)">
        <div class="input-group">
          <span class="input-group-btn">
            <span class="btn btn-default btn-file">
              Browse...
              <input type="file" ng-model="file" uploadfile required>
            </span>
          </span>
          <span
            class="form-control"
            id="upload-file-name"
            ng-bind="file.name"></span>
        </div>
        <button
          type="submit"
          name="submit"
          value="Upload"
          class="btn btn-primary upload-btn">
          <span class="glyphicon glyphicon-upload"></span> Upload
        </button>
      </form>
    </div>
  </div>

  <div class="page-header">
    <h2>Files</h2>
  </div>

  <p ng-show="!files.length">No files uploaded.</p>
  <div class="table-responsive" ng-show="files.length">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>File Name</th>
          <th>File Size</th>
          <th>Upload Date</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="file in files">
          <td>
            <a
              href="/media/{{file.file}}"
              target="_blank">{{file.filename}}</a>
          </td>
          <td>{{file.filesize}}B</td>
          <td>{{file.pub_date | date:'mediumDate'}}</td>
          <td>
            <button
              class="btn btn-danger btn-xs"
              ng-click="deleteFile(file, $index)">
              <span class="glyphicon glyphicon-remove"></span> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
