<div ng-show="!User.isLoggedIn" class="col-md-12 col-sm-12">
  <div class="container-fluid">
    <div class="row">
      <div class="header-bg col-md-8 col-sm-12">
        <img id="header-bg" src="/static/img/bg.png">
      </div>
      <div class="header-content col-md-4 col-sm-12">
        <h2>Online Course Management System</h2>
        <br>
        <p>
          Focus is a learning management system that allows students and instructors
          to access course content from their computers and iOS devices.
        </p>
        <h3>
          <span class="glyphicon glyphicon-transfer"></span>
          Greater Interaction
        </h3>
        <p>
          Redefine the way instructors interact with their students
        </p>
        <h3>
          <span class="glyphicon glyphicon-time"></span>
          Real-time Feedback
        </h3>
        <p>
          Real-time feedback and delivery of course content and learning-aids
        </p>
        <h3>
          <span class="glyphicon glyphicon-heart"></span>
          Simple &amp; Smooth
        </h3>
        <p>
          Smooth, interactive experience
        </p>
      </div>
    </div>
  </div>
</div>

<div
  ng-show="User.isLoggedIn &amp;&amp; User.session.is_instructor"
  class="accounts main col-md-12 col-sm-12"
  id="accounts-create-course">
  <div class="page-header">
    <h2>My Courses</h2>
  </div>
  <p ng-show="!courses.length">No courses.</p>
  <div ng-show="courses.length">
    <div class="well well-sm" ng-repeat="course in courses">
      <a href="/course/{{course.id}}" ng-bind="course.name"></a>
    </div>
  </div>
  <form
    name="createForm"
    class="form-horizontal"
    autocomplete="on"
    ng-submit="create(name, emails)">
    <fieldset>
      <legend class="page-header">Create Course</legend>
      <p form-error="error" ng-if="error" class="alert alert-danger"></p>

      <div class="form-group">
        <label class="col-sm-2 col-lg-1 control-label">Course Name</label>
        <div class="col-sm-10 col-lg-11">
          <input
            type="text"
            class="form-control"
            ng-model="name"
            ng-change="isInvalid(name, emails)"
            placeholder="Course Name"
            required>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 col-lg-1 control-label">Student Emails</label>
        <div class="col-sm-10 col-lg-11">
          <textarea
            required
            ng-change="isInvalid(emails)"
            class="form-control"
            ng-list
            ng-model="emails"
            placeholder="Comma-separated Student Emails"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button
            type="submit"
            ng-disabled="invalidInput"
            value="Create"
            class="btn btn-primary btn-md pull-right">
            <span class="glyphicon glyphicon-plus"></span> Create
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div
  class="accounts main col-md-12 col-sm-12"
  ng-show="User.isLoggedIn &amp;&amp;
    !User.session.is_admin &amp;&amp;
    !User.session.is_instructor">
  <div class="page-header">
    <h2>Hello student!</h2>
  </div>
  <p>This site is for instructors. To use focus, please use your iOS device.</p>
</div>
