<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Focus</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/Accounts.css">
    <link rel="stylesheet" href="/static/css/Attendance.css">
    <link rel="stylesheet" href="/static/css/FileManagement.css">
    <link rel="stylesheet" href="static/css/groupx.css">
    <link rel="stylesheet" href="static/css/toaster.css">
  </head>

  <body>
    <header
      class="navbar navbar-inverse navbar-static-top"
      id="header"
      role="banner">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img src="/static/img/logo.jpg"></a>
          <p
            ng-if="User.session.is_instructor &amp;&amp; Course.course"
            class="navbar-text">Course: {{Course.course.name}}</p>
        </div>
        <nav
          ng-controller="NavCtrl"
          class="collapse navbar-collapse"
          role="navigation">
          <ul class="nav navbar-nav">
            <li ng-if="User.session.is_admin &amp;&amp; !Course.course">
              <a href="/create-instructor">
                <span class="glyphicon glyphicon-user"></span>
                Create Instructor
              </a>
            </li>
            <li ng-if="User.session.is_instructor &amp;&amp; Course.course">
              <a href="/course/{{Course.course.id}}/quizzes">
                <span class="glyphicon glyphicon-pencil"></span>
                Quizzes
              </a>
            </li>
            <li ng-if="User.session.is_instructor &amp;&amp; Course.course">
              <a href="/course/{{Course.course.id}}/participation">
                <span class="glyphicon glyphicon-comment"></span>
                Class Participation
              </a>
            </li>
            <li ng-if="User.session.is_instructor &amp;&amp; Course.course">
              <a href="/course/{{Course.course.id}}/file-management">
                <span class="glyphicon glyphicon-cloud-download"></span>
                File Management
              </a>
            </li>
            <li ng-if="User.session.is_instructor &amp;&amp; Course.course">
              <a href="/course/{{Course.course.id}}/attendance">
                <span class="glyphicon glyphicon-time"></span>
                Attendance
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-show="User.isLoggedIn">
              <a href="/profile">
                <span class="glyphicon glyphicon-cog"></span>
                <span
                  ng-if="User.session.name"
                  ng-bind="User.session.name"></span>
                <span
                  ng-if="!User.session.name"
                  ng-bind="User.session.email"></span>
              </a>
            </li>
            <li ng-show="!User.isLoggedIn">
              <a href="/login">
                <span class="glyphicon glyphicon-log-in"></span> Login
              </a>
            </li>
            <li ng-show="User.isLoggedIn">
              <a href="/logout" ng-click="logout()">
                <span class="glyphicon glyphicon-log-out"></span> Logout
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="main" class="container-fluid">
      <div id="feature" class="row" ng-view></div>
    </div>

    <script src="/static/js/vendor/lodash.min.js"></script>
    <script src="/static/js/vendor/angular.min.js"></script>
    <script src="/static/js/vendor/angular-route.min.js"></script>
    <script src="/static/js/vendor/angular-sanitize.min.js"></script>
    <script src="/static/js/vendor/restangular.min.js"></script>
    <script src="/static/js/vendor/cookie.min.js"></script>
    <script src="/static/js/vendor/angular-animate.js"></script>
    <script src="/static/js/vendor/toaster.js"></script>
    <script src="/static/js/vendor/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers/IndexCtrl.js"></script>
    <script src="/static/js/controllers/404Ctrl.js"></script>
    <script src="/static/js/controllers/AccountsCtrl.js"></script>
    <script src="/static/js/controllers/QuizCtrl.js"></script>
    <script src="/static/js/controllers/GroupCCtrl.js"></script>
    <script src="/static/js/controllers/FileManagementCtrl.js"></script>
    <script src="/static/js/controllers/GroupECtrl.js"></script>

    <script src="/static/js/services/Accounts.js"></script>
    <script src="/static/js/services/Quiz.js"></script>
    <script src="/static/js/services/GroupC.js"></script>
    <script src="/static/js/services/FileManagement.js"></script>
    <script src="/static/js/services/GroupE.js"></script>

  </body>
</html>
